<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · SavvyFlags">
      {assigns[:page_title] || "SavvyFlags"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <link rel="icon" type="image/png" href={~p"/images/savvyflags-logo.png"} />
    <meta name="robots" content="noindex" />
  </head>
  <body class="bg-gray-50 antialiased text-black  min-h-screen flex flex-col overflow-scroll">
    <nav class="relative z-10 flex items-center py-4 ">
      <div class="mx-5 flex items-center w-full">
        <a href="/" class="font-bold flex">
          <img src={~p"/images/savvyflags-logo.svg"} class="h-6 w-6 mr-1" /> SavvyFlags
        </a>
        <.code_label value={"v#{SavvyFlags.version()}" } class="ml-1" variant="black" />

        <ul class="ml-auto flex gap-4">
          <%= if @current_user do %>
            <li class="text-[0.8125rem] leading-6 text-zinc-900">
              {@current_user.email}
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="cursor-pointer text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                User settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="cursor-pointer text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
          <li>
            <.link href="https://github.com/StephaneRob/savvyflags" target="_blank">
              <svg viewBox="0 0 24 24" aria-hidden="true" class="size-6 fill-slate-900">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"
                >
                </path>
              </svg>
            </.link>
          </li>
        </ul>
      </div>
    </nav>
    {@inner_content}

    <footer class="py-2 mb-2 text-center text-xs text-gray-400 mt-auto">
      <p>
        Made with <.icon name="hero-heart-solid" class="inline-block h-4 w-4" /> by
        <a
          href="https://github.com/StephaneRob"
          target="_blank"
          class="underline hover:text-gray-700"
        >
          Stéphane Robino
        </a>
      </p>
    </footer>
  </body>
</html>
